## H24081163 陳詠翰 B14081027 劉恩兆 H24081341 耿皓畇

### 這的檔案只有Problem 1 7 8 9 10的程式碼

### 讀資料

In [2]:
import pandas as pd
import numpy as np
income = pd.read_csv("income_evaluation.csv")
import scipy.io as sio    
mat = sio.loadmat('arrhythmia.mat')
arrhy = pd.DataFrame(np.hstack((mat['X'], mat['y'])))
f = open("bank/bank-full.csv","r")
line = f.readline()
bank_column = line.split(";")
bank_column = [i.strip().strip('\n"') for i in bank_column]
print(bank_column)
bank_data_list =[]
for line in f.readlines():
    linetolist = line.split(";")
    linetolist = [i.strip('\n"') for i in linetolist]
    bank_data_list.append(linetolist)
f.close()
bank = pd.DataFrame(bank_data_list,columns = bank_column)
blastchar = pd.read_csv("blastchar/WA_Fn-UseC_-Telco-Customer-Churn.csv")
htru = pd.read_csv("HTRU2/HTRU_2.csv",header=None)
kdd99 = pd.read_csv("kdd99/kddcup.data_10_percent_corrected",header=None)
shopper = pd.read_csv("online_shoppers_intention.csv")
f = open("biodeg.csv","r")
bio_list =[]
for line in f.readlines():
    linetolist = line.split(";")
    linetolist = [i.strip().strip('\"') for i in linetolist]
    bio_list.append(linetolist)
f.close()
bio = pd.DataFrame(bio_list,columns = range(len(bio_list[0])))
shrutime = pd.read_csv("Churn_Modelling.csv")

f = open("spambase/spambase.data","r")
'''
line = f.readline()
bio_column = line.split(";")
bio_column = [i.strip().strip('\"') for i in bio_column]
'''
#print(bank_column)
spam_list =[]
for line in f.readlines():
    linetolist = line.split(",")
    linetolist = [i.strip().strip('\"') for i in linetolist]
    spam_list.append(linetolist)
f.close()
spam = pd.DataFrame(spam_list,columns = range(len(spam_list[0])))
default = pd.read_csv("Default.csv")
income_column = list(income.columns)
income_column = [i.strip()for i in income_column]
income.columns = income_column

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [3]:
income

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
income['income'].replace([' <=50K',' >50K'],[0,1],inplace = True)
income.rename(columns={"income": "y"},inplace = True)

In [5]:
arrhy.rename(columns={274: "y"},inplace = True)

In [6]:
arrhy

,0,1,2,3,4,5,6,7,8,9,...,265,266,267,268,269,270,271,272,273,y
0,75.0,0.0,190.0,80.0,91.0,193.0,371.0,174.0,121.0,-16.0,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,1.0
1,56.0,1.0,165.0,64.0,81.0,174.0,401.0,149.0,39.0,25.0,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,0.0
2,54.0,0.0,172.0,95.0,138.0,163.0,386.0,185.0,102.0,96.0,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,0.0
3,55.0,0.0,175.0,94.0,100.0,202.0,380.0,179.0,143.0,28.0,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,0.0
4,75.0,0.0,190.0,80.0,88.0,181.0,360.0,177.0,103.0,-16.0,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53.0,1.0,160.0,70.0,80.0,199.0,382.0,154.0,117.0,-37.0,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,0.0
448,37.0,0.0,190.0,85.0,100.0,137.0,361.0,201.0,73.0,86.0,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,0.0
449,36.0,0.0,166.0,68.0,108.0,176.0,365.0,194.0,116.0,-85.0,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,0.0
450,32.0,1.0,155.0,55.0,93.0,106.0,386.0,218.0,63.0,54.0,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,0.0
451,78.0,1.0,160.0,70.0,79.0,127.0,364.0,138.0,78.0,28.0,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,0.0

In [7]:
bank['y'].replace(['no','yes'],[0,1],inplace = True)
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,1
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,0
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,0

In [8]:
blastchar

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [9]:
blastchar.rename(columns={"Churn": "y"},inplace = True)
blastchar['y'].replace(['No','Yes'],[0,1],inplace = True)
blastchar.drop(['customerID'], axis=1,inplace=True)
blastchar

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,y
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,0
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,1
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,0

In [10]:
blastchar['y'].value_counts()

0    5174
1    1869
Name: y, dtype: int64

In [11]:
htru.rename(columns={8: "y"},inplace = True)
htru

,0,1,2,3,4,5,6,7,y
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [12]:
htru['y'].value_counts()

0    16259
1     1639
Name: y, dtype: int64

In [13]:
shopper

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [14]:
shopper.rename(columns={'Revenue': "y"},inplace = True)
shopper['y'].replace([False,True],[0,1],inplace = True)
shopper['Weekend'].replace([False,True],[0,1],inplace = True)
shopper

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,y
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,1,0
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,1,0
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,1,0
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,0,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,1,0

In [15]:
shopper['y'].value_counts()

0    10422
1     1908
Name: y, dtype: int64

In [16]:
bio.rename(columns={41: "y"},inplace = True)
bio['y'].replace(["NRB","RB"],[0,1],inplace = True)
bio

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,y
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,1
1,4.17,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,1
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,1
3,3,2.7098,0,0,0,0,0,20,0,2,...,0,0,1,3.046,5,0,6.69,0,0,1
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,5.431,2.8955,0,0,0,2,0,32.1,4,1,...,0,6,1,3.573,2.242,1,8.088,0,0,0
1051,5.287,3.3732,0,0,9,0,0,35.3,0,9,...,0,3,0,3.787,3.083,3,9.278,0,0,0
1052,4.869,1.767,0,1,9,0,5,44.4,0,4,...,4,13,0,3.848,2.576,5,9.537,1,0,0
1053,5.158,1.6914,2,0,36,0,9,56.1,0,0,...,1,16,0,5.808,2.055,8,11.055,0,1,0
1054,5.076,2.6588,2,0,0,0,4,54.5,0,0,...,2,0,0,4.009,2.206,0,9.13,0,2,0

In [17]:
bio['y'].value_counts()

0    699
1    356
Name: y, dtype: int64

In [18]:
shrutime
shrutime.rename(columns={"Exited": "y"},inplace = True)
shrutime.drop(['Surname','RowNumber','CustomerId'], axis=1,inplace=True)
shrutime

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,y
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [19]:
shrutime['y'].value_counts()

0    7963
1    2037
Name: y, dtype: int64

In [20]:
spam.rename(columns={57: "y"},inplace = True)
spam

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,y
0,0,0.64,0.64,0,0.32,0,0,0,0,0,...,0,0,0,0.778,0,0,3.756,61,278,1
1,0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,...,0,0.132,0,0.372,0.18,0.048,5.114,101,1028,1
2,0.06,0,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.01,9.821,485,2259,1
3,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.137,0,0.137,0,0,3.537,40,191,1
4,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.135,0,0.135,0,0,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0,0.62,0,0,0.31,0,0,0,0,...,0,0.232,0,0,0,0,1.142,3,88,0
4597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.353,0,0,1.555,4,14,0
4598,0.3,0,0.3,0,0,0,0,0,0,0,...,0.102,0.718,0,0,0,0,1.404,6,118,0
4599,0.96,0,0,0,0.32,0,0,0,0,0,...,0,0.057,0,0,0,0,1.147,5,78,0
4600,0,0,0.65,0,0,0,0,0,0,0,...,0,0,0,0.125,0,0,1.25,5,40,0

In [21]:
spam['y'].value_counts()

0    2788
1    1813
Name: y, dtype: int64

In [22]:

default.rename(columns={"default.payment.next.month": "y"},inplace = True)
default.drop(['ID'], axis=1,inplace=True)
default

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,y
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,50000.0,1,2,1,46,0,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

### 建立資料集的離散型/連續型變數的list

In [23]:
income_con_col = []
income_cat_col = []
arrhy_con_col = []
arrhy_cat_col = []
bank_cat_col = ['job', 'marital' ,'contact','month','poutcome','default','housing','loan','education']
bankdropy = bank.drop(['y'],axis = 1)
bank_con_col = list(bankdropy.drop(bank_cat_col,axis=1).columns)
htru_con_col = []
htru_cat_col = []
blast_con_col = []
blast_cat_col = []
shopper_con_col = []
shopper_cat_col = []
bio_con_col = []
bio_cat_col = []
shrutime_con_col = []
shrutime_cat_col = []
spam_con_col = []
spam_cat_col = []
default_cat_col = ['SEX','EDUCATION','MARRIAGE','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6']
defaultdropy = default.drop(['y'],axis = 1)
default_con_col = list(defaultdropy.drop(default_cat_col,axis=1).columns)

In [24]:
blastchar = blastchar[blastchar['TotalCharges']!=' ']
blastchar

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,y
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,0
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,1
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,0

In [25]:
bio= bio.apply(pd.to_numeric)
spam = spam.apply(pd.to_numeric)
blastchar[['TotalCharges']] = blastchar[['TotalCharges']].apply(pd.to_numeric)
bank[bank_con_col] = bank[bank_con_col].apply(pd.to_numeric)

C:\Users\Hank\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [26]:
def con_cat(dataframe,con_list,cat_list):
    for i in dataframe.columns:
        if (i !='y'):
        #print(type(shopper[i][0]))
            if (type(dataframe[i][0])==str):   
                cat_list.append(i)
            else:
                con_list.append(i)

In [27]:
df_list = [income,arrhy,htru,blastchar,shopper,shrutime]
df_con_list = [income_con_col,arrhy_con_col,htru_con_col,blast_con_col,shopper_con_col,shrutime_con_col]
df_cat_list = [income_cat_col,arrhy_cat_col,htru_cat_col,blast_cat_col,shopper_cat_col,shrutime_cat_col]
for i in range(len(df_list)):
    con_cat(df_list[i],df_con_list[i],df_cat_list[i])

In [28]:
bio_con_col = list(bio.drop(['y'],axis=1).columns)
spam_con_col = list(spam.drop(['y'],axis=1).columns)

### 建立 one-hot function

In [29]:
import category_encoders as ce
def onehot(dataframe,cat_col):
    for col in cat_col:
        encoder = ce.OneHotEncoder(cols= [col])
        dfbin = encoder.fit_transform(dataframe[col])
        dataframe = pd.concat([dataframe,dfbin],axis = 1)
    dataframe = dataframe.drop(columns = cat_col)
    return dataframe

## Problem 1 onehot+StandardScaler

In [30]:
import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score,f1_score
scaler = StandardScaler()
kf = StratifiedKFold(n_splits=5,random_state=0,shuffle=True)
def problem1(clf,dataframe,judge,name,cat_col,con_col):
    dataframe = onehot(dataframe,cat_col)
    X = dataframe.drop(['y'],axis=1)
    y = dataframe['y']
    f1_list = []
    auc_list = []
    for train_index, valid_index in kf.split(X,y):
        train_x,valid_x = X.iloc[train_index],X.iloc[valid_index]
        train_y, valid_y = y.iloc[train_index],y.iloc[valid_index]
        if (judge ==1 and len(con_col) > 0):
            
            for col  in con_col:
                scaler.fit(train_x[[col]].values)
                train_x[['scale' + str(col)]] = scaler.transform(train_x[[col]].values)
                valid_x[['scale' + str(col)]] = scaler.transform(valid_x[[col]].values)
            train_x = train_x.drop(columns = con_col)
            valid_x = valid_x.drop(columns = con_col)
            
        clf.fit(train_x,train_y)
        predictions = clf.predict(valid_x)
        f1 = f1_score(valid_y, predictions)
        auc_score = roc_auc_score(valid_y, clf.predict_proba(valid_x)[:, 1])
        f1_list.append(f1)
        auc_list.append(auc_score)
    #print(name + " auc score: ",round(sum(auc_list)/5,4))
    print(name + " f1 score: ",round(sum(f1_list)/5,4))

In [31]:
import lightgbm as lgb
whole_df_list = [income,arrhy,bank,htru,blastchar,shopper,bio,shrutime,spam,default]
name_list = ['income','arrhy','bank','htru','blastchar','shopper','bio','shrutime','spam','default']
whole_cat_list = [income_cat_col,arrhy_cat_col,bank_cat_col,htru_cat_col,blast_cat_col,shopper_cat_col,bio_cat_col,shrutime_cat_col,spam_cat_col,default_cat_col]
whole_col_list = [income_con_col,arrhy_con_col,bank_con_col,htru_con_col,blast_con_col,shopper_con_col,bio_con_col,shrutime_con_col,spam_con_col,default_con_col]

### lighgbm & lightgbm+scale

In [32]:

for i in range(len(whole_df_list)):
    problem1(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],0,name_list[i],whole_cat_list[i],whole_col_list[i])

income f1 score:  0.7144
arrhy f1 score:  0.599
bank f1 score:  0.5643
htru f1 score:  0.8847
blastchar f1 score:  0.5819
shopper f1 score:  0.6491
bio f1 score:  0.8016
shrutime f1 score:  0.5875
spam f1 score:  0.9481
default f1 score:  0.4782

In [33]:
for i in range(len(whole_df_list)):
    problem1(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i])

income f1 score:  0.7161
arrhy f1 score:  0.62
bank f1 score:  0.5651
htru f1 score:  0.8809
blastchar f1 score:  0.572
shopper f1 score:  0.6522
bio f1 score:  0.801
shrutime f1 score:  0.5965
spam f1 score:  0.945
default f1 score:  0.4782

In [34]:
from sklearn.linear_model import LogisticRegression

### lr & lr + scale

In [35]:
for i in range(len(whole_df_list)):
    problem1(LogisticRegression(),whole_df_list[i],0,name_list[i],whole_cat_list[i],whole_col_list[i])

income f1 score:  0.3875
arrhy f1 score:  0.5114
bank f1 score:  0.3129
htru f1 score:  0.8746
blastchar f1 score:  0.5941
shopper f1 score:  0.4815
bio f1 score:  0.8036
shrutime f1 score:  0.0992
spam f1 score:  0.9029
default f1 score:  0.0006

In [36]:
for i in range(len(whole_df_list)):
    problem1(LogisticRegression(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i])

income f1 score:  0.6623
arrhy f1 score:  0.4981
bank f1 score:  0.4508
htru f1 score:  0.8749
blastchar f1 score:  0.597
shopper f1 score:  0.5042
bio f1 score:  0.813
shrutime f1 score:  0.3138
spam f1 score:  0.9027
default f1 score:  0.467

In [32]:
from imblearn.under_sampling import NearMiss

## Problem 7 加上resampling

In [33]:
def problem7(clf,dataframe,judge,name,cat_col,con_col,sm):
    dataframe = onehot(dataframe,cat_col)
    X = dataframe.drop(['y'],axis=1)
    y = dataframe['y']
    f1_list = []
    auc_list = []
    for train_index, valid_index in kf.split(X,y):
        train_x,valid_x = X.iloc[train_index],X.iloc[valid_index]
        train_y, valid_y = y.iloc[train_index],y.iloc[valid_index]
        if (judge ==1 and len(con_col) > 0):
            
            for col  in con_col:
                scaler.fit(train_x[[col]].values)
                train_x[['scale' + str(col)]] = scaler.transform(train_x[[col]].values)
                valid_x[['scale' + str(col)]] = scaler.transform(valid_x[[col]].values)
            train_x = train_x.drop(columns = con_col)
            valid_x = valid_x.drop(columns = con_col)
        if (sm != None):
            train_x, train_y = sm.fit_resample(train_x, train_y)    
        clf.fit(train_x, train_y)
        predictions = clf.predict(valid_x)
        f1 = f1_score(valid_y, predictions)
        auc_score = roc_auc_score(valid_y, clf.predict_proba(valid_x)[:, 1])
        f1_list.append(f1)
        auc_list.append(auc_score)
    #print(name + " auc score: ",round(sum(auc_list)/5,4))
    print(name + " f1 score: ",round(sum(f1_list)/5,4))

In [34]:
from imblearn.under_sampling import NearMiss
from imblearn.under_sampling import ClusterCentroids
from imblearn.under_sampling import CondensedNearestNeighbour
from imblearn.over_sampling import SMOTE, BorderlineSMOTE,SVMSMOTE,ADASYN
from imblearn.ensemble import EasyEnsembleClassifier
from imblearn.under_sampling import EditedNearestNeighbours
from imblearn.under_sampling import NeighbourhoodCleaningRule
from imblearn.under_sampling import TomekLinks
from imblearn.under_sampling import OneSidedSelection
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import svm

### 執行Problem 7 nothing + 5個undersampling + 4個oversampling + 1個ensemble  (有兩個undersampling太久，一個ensemble方法被deprecate)

### Problem 8 9都會使用到Problem 7的結果

In [43]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],None)

income f1 score:  0.7161
arrhy f1 score:  0.62
bank f1 score:  0.5651
htru f1 score:  0.8809
blastchar f1 score:  0.572
shopper f1 score:  0.6522
bio f1 score:  0.801
shrutime f1 score:  0.5965
spam f1 score:  0.945
default f1 score:  0.4782

In [41]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NearMiss())

income f1 score:  0.611
arrhy f1 score:  0.4715
bank f1 score:  0.3483
htru f1 score:  0.5735
blastchar f1 score:  0.5474
shopper f1 score:  0.4037
bio f1 score:  0.7578
shrutime f1 score:  0.4316
spam f1 score:  0.8885
default f1 score:  0.399

In [52]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.7183
arrhy f1 score:  0.6525
bank f1 score:  0.6071
htru f1 score:  0.854
blastchar f1 score:  0.6011
shopper f1 score:  0.6717
bio f1 score:  0.7862
shrutime f1 score:  0.6192
spam f1 score:  0.9424
default f1 score:  0.5116

In [55]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],BorderlineSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.7112
arrhy f1 score:  0.6239
bank f1 score:  0.6053
htru f1 score:  0.8413
blastchar f1 score:  0.5991
shopper f1 score:  0.6733
bio f1 score:  0.7891
shrutime f1 score:  0.6136
spam f1 score:  0.9464
default f1 score:  0.5102

In [57]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SVMSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.7174
arrhy f1 score:  0.6508
bank f1 score:  0.6197
htru f1 score:  0.849
blastchar f1 score:  0.6148
shopper f1 score:  0.6765
bio f1 score:  0.7999
shrutime f1 score:  0.6159
spam f1 score:  0.9462
default f1 score:  0.5202

In [62]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],ADASYN())

income f1 score:  0.7164
arrhy f1 score:  0.6445
bank f1 score:  0.6077
htru f1 score:  0.7079
blastchar f1 score:  0.6012
shopper f1 score:  0.6866
bio f1 score:  0.7933
shrutime f1 score:  0.6178
spam f1 score:  0.9417
default f1 score:  0.4995

In [64]:
for i in range(len(whole_df_list)):
    problem7(EasyEnsembleClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],None)

income f1 score:  0.6966
arrhy f1 score:  0.5767
bank f1 score:  0.5563
htru f1 score:  0.8177
blastchar f1 score:  0.6296
shopper f1 score:  0.6452
bio f1 score:  0.7738
shrutime f1 score:  0.5848
spam f1 score:  0.9282
default f1 score:  0.5332

In [69]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],EditedNearestNeighbours(kind_sel="all"))

income f1 score:  0.7037
arrhy f1 score:  0.5841
bank f1 score:  0.6292
htru f1 score:  0.882
blastchar f1 score:  0.6209
shopper f1 score:  0.6651
bio f1 score:  0.7822
shrutime f1 score:  0.6195
spam f1 score:  0.9394
default f1 score:  0.5431

In [72]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NeighbourhoodCleaningRule())

income f1 score:  0.71
arrhy f1 score:  0.5735
bank f1 score:  0.6344
htru f1 score:  0.8808
blastchar f1 score:  0.623
shopper f1 score:  0.6749
bio f1 score:  0.7948
shrutime f1 score:  0.6209
spam f1 score:  0.9339
default f1 score:  0.5425

In [75]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],TomekLinks())

income f1 score:  0.7296
arrhy f1 score:  0.5935
bank f1 score:  0.5895
htru f1 score:  0.8858
blastchar f1 score:  0.6033
shopper f1 score:  0.6591
bio f1 score:  0.7983
shrutime f1 score:  0.6157
spam f1 score:  0.9459
default f1 score:  0.504

In [77]:
for i in range(len(whole_df_list)):
    problem7(lgb.LGBMClassifier(application = 'binary'),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],OneSidedSelection())

income f1 score:  0.7293
arrhy f1 score:  0.5887
bank f1 score:  0.5895
htru f1 score:  0.8855
blastchar f1 score:  0.6018
shopper f1 score:  0.6696
bio f1 score:  0.7913
shrutime f1 score:  0.6155
spam f1 score:  0.9456
default f1 score:  0.5068

### Problem 10 嘗試用其他模型(RF、XGBoost、MLP、SVM)搭配resampling strategy

### RF

In [81]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NearMiss())

income f1 score:  0.5394
arrhy f1 score:  0.4099
bank f1 score:  0.319
htru f1 score:  0.2961
blastchar f1 score:  0.4352
shopper f1 score:  0.4561
bio f1 score:  0.7443
shrutime f1 score:  0.4236
spam f1 score:  0.9373
default f1 score:  0.3984

In [83]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6857
arrhy f1 score:  0.6279
bank f1 score:  0.5748
htru f1 score:  0.8722
blastchar f1 score:  0.5799
shopper f1 score:  0.6794
bio f1 score:  0.8026
shrutime f1 score:  0.6025
spam f1 score:  0.9434
default f1 score:  0.5179

In [90]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],BorderlineSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6841
arrhy f1 score:  0.6475
bank f1 score:  0.5682
htru f1 score:  0.8706
blastchar f1 score:  0.5778
shopper f1 score:  0.6751
bio f1 score:  0.7927
shrutime f1 score:  0.5956
spam f1 score:  0.9411
default f1 score:  0.5108

In [84]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SVMSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6885
arrhy f1 score:  0.6793
bank f1 score:  0.5885
htru f1 score:  0.8735
blastchar f1 score:  0.59
shopper f1 score:  0.6843
bio f1 score:  0.7962
shrutime f1 score:  0.608
spam f1 score:  0.9411
default f1 score:  0.5184

In [85]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],ADASYN())

income f1 score:  0.6838
arrhy f1 score:  0.6873
bank f1 score:  0.5744
htru f1 score:  0.816
blastchar f1 score:  0.5807
shopper f1 score:  0.6817
bio f1 score:  0.7899
shrutime f1 score:  0.5964
spam f1 score:  0.9415
default f1 score:  0.5103

In [86]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],EditedNearestNeighbours(kind_sel="all"))

income f1 score:  0.6861
arrhy f1 score:  0.6449
bank f1 score:  0.6136
htru f1 score:  0.8841
blastchar f1 score:  0.6212
shopper f1 score:  0.6747
bio f1 score:  0.7807
shrutime f1 score:  0.614
spam f1 score:  0.9377
default f1 score:  0.5381

In [87]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NeighbourhoodCleaningRule())

income f1 score:  0.6893
arrhy f1 score:  0.6748
bank f1 score:  0.6115
htru f1 score:  0.883
blastchar f1 score:  0.6244
shopper f1 score:  0.6787
bio f1 score:  0.7952
shrutime f1 score:  0.6185
spam f1 score:  0.9348
default f1 score:  0.535

In [88]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],TomekLinks())

income f1 score:  0.69
arrhy f1 score:  0.6325
bank f1 score:  0.5427
htru f1 score:  0.881
blastchar f1 score:  0.5833
shopper f1 score:  0.6596
bio f1 score:  0.8003
shrutime f1 score:  0.598
spam f1 score:  0.9436
default f1 score:  0.5006

In [89]:
for i in range(len(whole_df_list)):
    problem7(RandomForestClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],OneSidedSelection())

income f1 score:  0.6952
arrhy f1 score:  0.6394
bank f1 score:  0.5446
htru f1 score:  0.8845
blastchar f1 score:  0.5841
shopper f1 score:  0.6649
bio f1 score:  0.8052
shrutime f1 score:  0.5959
spam f1 score:  0.9385
default f1 score:  0.503

#### XGBoost

In [93]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NearMiss())

income f1 score:  0.5605
arrhy f1 score:  0.3876
bank f1 score:  0.3549
htru f1 score:  0.3219
blastchar f1 score:  0.4327
shopper f1 score:  0.4705
bio f1 score:  0.7331
shrutime f1 score:  0.4314
spam f1 score:  0.9326
default f1 score:  0.3953

In [94]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.7165
arrhy f1 score:  0.6249
bank f1 score:  0.5882
htru f1 score:  0.8543
blastchar f1 score:  0.5829
shopper f1 score:  0.6541
bio f1 score:  0.8
shrutime f1 score:  0.5996
spam f1 score:  0.9411
default f1 score:  0.4871

In [95]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],BorderlineSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.7112
arrhy f1 score:  0.6056
bank f1 score:  0.5866
htru f1 score:  0.8549
blastchar f1 score:  0.5957
shopper f1 score:  0.6476
bio f1 score:  0.7796
shrutime f1 score:  0.5943
spam f1 score:  0.9399
default f1 score:  0.4874

In [97]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SVMSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.7174
arrhy f1 score:  0.6098
bank f1 score:  0.5993
htru f1 score:  0.8567
blastchar f1 score:  0.5955
shopper f1 score:  0.6545
bio f1 score:  0.7981
shrutime f1 score:  0.6025
spam f1 score:  0.9396
default f1 score:  0.4965

In [98]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],ADASYN())

income f1 score:  0.7123
arrhy f1 score:  0.6256
bank f1 score:  0.587
htru f1 score:  0.753
blastchar f1 score:  0.5841
shopper f1 score:  0.6547
bio f1 score:  0.789
shrutime f1 score:  0.5941
spam f1 score:  0.9416
default f1 score:  0.4782

In [99]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],EditedNearestNeighbours(kind_sel="all"))

income f1 score:  0.7073
arrhy f1 score:  0.5825
bank f1 score:  0.6305
htru f1 score:  0.8824
blastchar f1 score:  0.6192
shopper f1 score:  0.6601
bio f1 score:  0.7879
shrutime f1 score:  0.6103
spam f1 score:  0.9369
default f1 score:  0.5355

In [100]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NeighbourhoodCleaningRule())

income f1 score:  0.7115
arrhy f1 score:  0.5585
bank f1 score:  0.6254
htru f1 score:  0.8807
blastchar f1 score:  0.6221
shopper f1 score:  0.6628
bio f1 score:  0.7933
shrutime f1 score:  0.6064
spam f1 score:  0.9318
default f1 score:  0.5324

In [101]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],TomekLinks())

income f1 score:  0.722
arrhy f1 score:  0.599
bank f1 score:  0.587
htru f1 score:  0.8805
blastchar f1 score:  0.5873
shopper f1 score:  0.649
bio f1 score:  0.8022
shrutime f1 score:  0.603
spam f1 score:  0.9412
default f1 score:  0.4951

In [102]:
for i in range(len(whole_df_list)):
    problem7(XGBClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],OneSidedSelection())

income f1 score:  0.7233
arrhy f1 score:  0.5968
bank f1 score:  0.5851
htru f1 score:  0.8814
blastchar f1 score:  0.5858
shopper f1 score:  0.6497
bio f1 score:  0.8036
shrutime f1 score:  0.6027
spam f1 score:  0.9428
default f1 score:  0.4991

#### MLP

In [103]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NearMiss())

income f1 score:  0.4639
arrhy f1 score:  0.4151
bank f1 score:  0.3264
htru f1 score:  0.3934
blastchar f1 score:  0.4316
shopper f1 score:  0.3799
bio f1 score:  0.7349
shrutime f1 score:  0.3925
spam f1 score:  0.9211
default f1 score:  0.3896

In [104]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6693
arrhy f1 score:  0.51
bank f1 score:  0.5446
htru f1 score:  0.8218
blastchar f1 score:  0.5741
shopper f1 score:  0.6275
bio f1 score:  0.8363
shrutime f1 score:  0.585
spam f1 score:  0.932
default f1 score:  0.4674

In [105]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],BorderlineSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6604
arrhy f1 score:  0.5698
bank f1 score:  0.5451
htru f1 score:  0.7889
blastchar f1 score:  0.5712
shopper f1 score:  0.626
bio f1 score:  0.8149
shrutime f1 score:  0.5836
spam f1 score:  0.9253
default f1 score:  0.4604

In [106]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SVMSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6717
arrhy f1 score:  0.5479
bank f1 score:  0.5612
htru f1 score:  0.814
blastchar f1 score:  0.5908
shopper f1 score:  0.6365
bio f1 score:  0.8216
shrutime f1 score:  0.5966
spam f1 score:  0.9274
default f1 score:  0.4811

In [107]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],ADASYN())

income f1 score:  0.6669
arrhy f1 score:  0.5761
bank f1 score:  0.5409
htru f1 score:  0.6404
blastchar f1 score:  0.5746
shopper f1 score:  0.6222
bio f1 score:  0.8198
shrutime f1 score:  0.5836
spam f1 score:  0.9295
default f1 score:  0.4541

In [108]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],EditedNearestNeighbours(kind_sel="all"))

income f1 score:  0.6743
arrhy f1 score:  0.5489
bank f1 score:  0.5965
htru f1 score:  0.8868
blastchar f1 score:  0.606
shopper f1 score:  0.6363
bio f1 score:  0.798
shrutime f1 score:  0.6094
spam f1 score:  0.9261
default f1 score:  0.5113

In [109]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NeighbourhoodCleaningRule())

income f1 score:  0.6748
arrhy f1 score:  0.5346
bank f1 score:  0.5915
htru f1 score:  0.8861
blastchar f1 score:  0.6121
shopper f1 score:  0.6459
bio f1 score:  0.7979
shrutime f1 score:  0.6074
spam f1 score:  0.9194
default f1 score:  0.5125

In [110]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],TomekLinks())

income f1 score:  0.6727
arrhy f1 score:  0.5721
bank f1 score:  0.5536
htru f1 score:  0.8878
blastchar f1 score:  0.5876
shopper f1 score:  0.6506
bio f1 score:  0.8188
shrutime f1 score:  0.601
spam f1 score:  0.9336
default f1 score:  0.4909

In [111]:
for i in range(len(whole_df_list)):
    problem7(MLPClassifier(),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],OneSidedSelection())

income f1 score:  0.6638
arrhy f1 score:  0.5036
bank f1 score:  0.5572
htru f1 score:  0.8869
blastchar f1 score:  0.5841
shopper f1 score:  0.6365
bio f1 score:  0.8218
shrutime f1 score:  0.6008
spam f1 score:  0.9363
default f1 score:  0.4829

#### SVM真的跑太久了QQ

In [112]:
from sklearn import svm
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NearMiss())

income f1 score:  0.6147
arrhy f1 score:  0.4485
bank f1 score:  0.3431
htru f1 score:  0.5753
blastchar f1 score:  0.5474
shopper f1 score:  0.4104
bio f1 score:  0.7663
shrutime f1 score:  0.4364
spam f1 score:  0.8977
default f1 score:  0.4087

In [35]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6552
arrhy f1 score:  0.4719
bank f1 score:  0.5667
htru f1 score:  0.8551
blastchar f1 score:  0.6209
shopper f1 score:  0.6585
bio f1 score:  0.7996
shrutime f1 score:  0.5021
spam f1 score:  0.9128
default f1 score:  0.511

In [36]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],BorderlineSMOTE(random_state = 33,k_neighbors=3))

income f1 score:  0.6551
arrhy f1 score:  0.4719
bank f1 score:  0.564
htru f1 score:  0.7127
blastchar f1 score:  0.6238
shopper f1 score:  0.602
bio f1 score:  0.7573
shrutime f1 score:  0.4937
spam f1 score:  0.9027
default f1 score:  0.5109

In [ ]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],SVMSMOTE(random_state = 33,k_neighbors=3))

In [ ]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],ADASYN())

In [ ]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],EditedNearestNeighbours(kind_sel="all"))

In [ ]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],NeighbourhoodCleaningRule())

In [ ]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],TomekLinks())

In [ ]:
for i in range(len(whole_df_list)):
    problem7(svm.SVC(kernel = 'linear', probability = True),whole_df_list[i],1,name_list[i],whole_cat_list[i],whole_col_list[i],OneSidedSelection())